@media all and (max-width: 480px) {
	header, main {
		width: 85vw;
		min-width: 10rem;
		margin-left: auto;
		margin-right: auto;
	}
}

@media all and (min-width: 480px) and (max-width: 768px) {
	header, main {
		width: 85vw;
		margin-left: auto;
		margin-right: auto;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	header, main {
		width: 85vw;
		margin-left: auto;
		margin-right: auto;
	}
}

@media all and (min-width: 1024px) {
	header, main {
		width: 85vw;
		margin-left: auto;
		margin-right: auto;
	}
}