html, body {
	width: 100vw;
	height: 100vh;
	user-select: none;
	overflow: auto;
	background-color: #475fc9;
}

.Toastify__toast-icon {
	filter: brightness(0)
					saturate(100%)
					invert(37%)
					sepia(78%)
					saturate(3678%)
					hue-rotate(328deg)
					brightness(101%)
					contrast(101%);
}

.AddButton {
	margin: 1rem;
}
